@import "../../node_modules/bootstrap/less/bootstrap.less";

table-top {
    display: block;
    width: 95%;
    margin: 0 auto;

    player-party {
        display: flex;
        justify-content: space-between;

        character-card {
            display: block;
            width: 430px;
            height: 280px;
            border: 1px solid #000;
            color: white;
            padding: 20px;
            text-align: center;

            > * {
                display: block;
            }

            character-summary {
                font-size: 1.5em;
                margin-bottom: 40px;

                > * {
                    display: block;
                }

                character-name {
                    font-weight: bold;
                    font-size: 2em;
                }
            }

            survivability-stats {
                font-size: 2em;

                > * {
                    display: block;
                }
            }

            &.fighter { background-color: #992F21; }
            &.ranger { background-color: #225F1E; }
            &.paladin { background-color: #D99339; }
            &.warlock { background-color: #56365E; }
        }
    }

    roll-display {
        display: block;
        width: 100%;
        margin-top: 20px;
        height: 760px;
        border: 1px solid #000;
        padding-top: 200px;

        > * {
            display: block;
            text-align: center;
            font-size: 1.5em;
        }

        character-name {
            font-size: 5em;
        }

        roll-total {
            margin: 0 auto;
            width: 450px;
            h1 {
                font-size: 5em;
            }
            h3 {
                font-size: 2em;
            }
        }
    }
}