@import "../../node_modules/bootstrap/less/bootstrap.less";

character-sheet {
    display: block;
    .container;

    > * {
        display: block;
    }

    character-summary {
        character-name {
            font-size: 1.5em;
            font-weight: bold;
        }

        character-race, character-class {
            font-size: 1.3em;
        }
    }

    survivability-stats {
        > * {
            display: inline-block;
            font-size: 1.3em;
            border: 1px solid #000;
            background: #999;
            color: #fff;
            margin: 10px 10px 10px 0;
            padding: 10px;
            text-align: center;

            > * {
                display: block;
            }
        }

        input {
            color: #000;
            width: 40px;
        }
    }

    button {
        .btn;
        .btn-default;
    }

    primary-stats {
        .make-row();

        stat-box-container {
            .make-xs-column(12);
            .make-sm-column(6);
            display: inline-block;

            stat-box {
                display: block;
                border: 1px solid #000;
                background-color: #999;
                margin-bottom: 20px;
                text-align: center;
                color: #fff;

                > * {
                    display: block;
                    margin: 0 auto;
                }
                value-group {
                    > * {
                        display: block;
                    }

                    stat-name {
                        border-bottom: 1px solid #ccc;
                        font-size: 1.3em;
                    }
                }

                button.active {
                    .btn-warning;    
                }

                ability-check-roll {
                    button {
                        .btn-primary;
                        .btn-lg;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    skill-row {
        display: inline-block;
        border: 1px solid #000;
        margin: 0 5% 5px 0;
        padding: 5px;
        background-color: #999;
        width: 45%;

        &.active {
            background-color: #ec971f;
        }

        button {
            width: 100%;
        }
    }
}
