@import "../../node_modules/bootstrap/less/bootstrap.less";

character-sheet {

    > * {
        display: block;
    }

    character-summary {
        .row;

        > * {
            .col-xs-4;
        }
    }

    hit-points {
        width: 100%;
        border: 1px solid #000;
        background: #999;
        color: #fff;
        padding: 10px;
    }

    primary-stat, character-skill, ability-check-roll {
        
    }

    button {
        .btn;
        .btn-default;
    }

    primary-stats {
        stat-row {
            border: 1px solid #000;
            background-color: #999;
            display: inline-block;
            width: 200px;
            margin-right: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: #fff;

            > * {
                display: block;
            }
            value-group {
                > * {
                    display: block;
                }

                stat-name {
                    border-bottom: 1px solid #ccc;
                    font-size: 1.3em;
                }
            }

            button.active {
                .btn-warning;    
            }

            ability-check-roll {
                button {
                    .btn-primary;
                    .btn-lg;
                    margin: 10px 0;
                }
            }
        }
    }

    skill-row {
        display: inline-block;
        border: 1px solid #000;
        margin: 0 5% 5px 0;
        padding: 5px;
        background-color: #999;
        width: 45%;

        &.active {
            background-color: #ec971f;
        }

        button {
            width: 100%;
        }
    }
}
